@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";


.top-banner{
  @include banner;
  @include mediaQuery(600px){
    span{
      font-size: 20px;
    }
  }
}

.alt-banner{
  @include banner;
  span{
    text-align: right;
  }
}


.nav-bar{
  background: $claretRed;
  ul{
    width: 100%;
    @include clearFloat;
    li{
      float: left;
      width: (100% / 6);
      a{
        display: block;
        padding: 16px;
        text-align: center;
        color: #eee;
        &:hover{
          background: lighten($claretRed,3);
        }
      }
    }
  }
}

#services{
  margin-bottom: 50px;
  ul{
    width: 100%;
    @include clearFloat;
    li{
      float: left;
      box-sizing: border-box;
      text-align: center;
      width: (100% / 3);
      img{
        width: 40%;
        margin: 20px 30%;
      }
      a{
        color: $darkGray;
        &:hover{
          color: $claretRed;
        }
      }
    }
  }
}

#projects{
  @include clearFloat;
  li{
    @include grid(4, 5%);
    @include mediaQuery(600px , 1000px){
      @include grid(2,4%);
    }
    img{
      width: 100%;
    }
  }
}

section h1{
  text-align: center;
  color: $claretRed;
  font-size: $sectionHeader;
  margin: 20px;
}
